node_modules/
.sync-config.cson
*.log
app/*.js
app/*.map

app/components/*.js
app/components/*.map
app/components/users/*.js
app/components/users/*.js.map
app/components/system/*.js
app/components/system/*.js.map
app/components/products/*.js
app/components/products/*.js.map
app/components/brands/*.js
app/components/brands/*.js.map
app/components/sales/*.js
app/components/sales/*.js.map
app/components/reports/*.js
app/components/reports/*.js.map

app/providers/*.js
app/providers/*.js.map

app/models/*.js
app/models/*.js.map

app/utils/*.js
app/utils/*.js.map
