<div class="panel panel-default">
    <div class="panel-heading">
        Clique em uma opção
        <div class="btn-group btn-group-sm pull-right" style="position: relative; top: -5px;">
            <button type="button" class="btn btn-default" (click)="logoff()"><span class="glyphicon glyphicon-off"></span> Sair</button>
        </div>
    </div>
    <div class="panel-body">

        <div class="thumbnails">
            <div class="thumbnail" (click)="goToSales()">
                <div class="caption">Vender</div>
                <span class="glyphicon glyphicon-shopping-cart" style="font-size: 75px"></span>
            </div>
            <div class="thumbnail" (click)="goToProducts()">
                <div class="caption">Produtos</div>
                <span class="glyphicon glyphicon-th-list" style="font-size: 75px"></span>
            </div>
            <div class="thumbnail" (click)="goToBrands()">
                <div class="caption">Marcas</div>
                <span class="glyphicon glyphicon-grain" style="font-size: 75px"></span>
            </div>
            <div class="thumbnail" (click)="goToReports()">
                <div class="caption">Relatórios</div>
                <span class="glyphicon glyphicon-list-alt" style="font-size: 75px"></span>
            </div>
            <div class="thumbnail" (click)="goToUsers()">
                <div class="caption">Usuários</div>
                <span class="glyphicon glyphicon-list-alt" style="font-size: 75px"></span>
            </div>
            <!--
            <div class="thumbnail" (click)="goToBrands()">
                <div class="caption">Marcas</div>
                <img src="http://placehold.it/70x70" alt="Brands" />
            </div>
            -->
        </div>
    </div>
</div>
