<div class="container">

    <div id="myModal" class="modal show" role="dialog" *ngIf="showDetails">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="hideSale()">&times;</button>
                    <h4 class="modal-title">Detalhes da venda</h4>
                </div>

                <div class="modal-body">
                    <div class="progress" *ngIf="sale==null">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                    <div *ngIf="sale!=null">
                        <b>Data: </b>{{sale.date | date: 'dd'}}/{{sale.date | date:'MM'}}/{{sale.date | date: 'yyyy'}} {{sale.date | date: 'HH'}}:{{sale.date | date: 'mm'}}<br/>
                        <b>Valor da venda: </b>R$ {{sale.value | moneyPipe}}<br/>
                        <b>Desconto: </b>R$ {{sale.saleOff | moneyPipe}}<br/><br/>
                        <div *ngIf="sale && sale.products.length > 0">
                            <b>Produtos: </b><br/>
                            <table class="table table-condensed">
                                <tr>
                                    <th>Qtd.</th>
                                    <th>Produto</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                                <tr *ngFor="let p of sale.products; let i=index">
                                    <td>{{p.amount}}</td>
                                    <td>{{p.productName}}</td>
                                    <td>{{p.description}}</td>
                                    <td>R$ {{p.value | moneyPipe}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="hideSale()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" style="width: 80%; margin: 0px auto;">
        <!-- Default panel contents -->
        <div class="panel-heading">Relatório de vendas</div>

        <div class="panel-body">
            <div class="well well-sm">
                <div style="width: 250px;">
                    <b>Período</b><br/><br/>
                    De:
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Data inicial (dd/mm/yyyy)..." aria-describedby="basic-addon2" #txtStart (keyup)="maskDate(txtStart)" required>
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    até:
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Data final (dd/mm/yyyy)..." aria-describedby="basic-addon2" #txtEnd (keyup)="maskDate(txtEnd)" required>
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" (click)="doReport(txtStart, txtEnd)">Gerar relatório</button>
                </div>
            </div>
            <br/>
            <div class="well well-sm" *ngIf="sales != null">
                <!-- Table -->
                <table class="table table-hover">
                    <tr>
                        <th>Data</th>
                        <th>Usuário</th>
                        <th>Valor</th>
                        <th>Desconto</th>
                    </tr>
                    <tr *ngFor="let sale of sales;" style="cursor: pointer;" (click)="showSale(sale.uuid)">
                        <td>{{sale.date | date: 'dd'}}/{{sale.date | date:'MM'}}/{{sale.date | date: 'yyyy'}} {{sale.date | date: 'HH'}}:{{sale.date | date: 'mm'}}</td>
                        <td>{{sale.name}}</td>
                        <td>R$ {{sale.value | moneyPipe}}</td>
                        <td>R$ {{sale.saleOff | moneyPipe}}</td>
                    </tr>
                </table>
                <nav>
                    <ul class="pager">
                        <li class="previous" style="cursor: pointer;"><span aria-hidden="true" (click)="previousPage()">&larr; Anterior</span></li>
                        <li class="next" style="cursor: pointer;"><span aria-hidden="true" (click)="nextPage()">Próxima &rarr;</span></li>
                    </ul>
                </nav>
                <b>Pg. {{page}}</b>
            </div>
        </div>
    </div>
</div>
